
body{
    background-color: rgb(30, 35, 39);
    font-family: "Work Sans", sans-serif;
    color: aliceblue;
}

header{
    background-color: rgb(92, 108, 131);
    border-radius: 10px;
    display: flex;
    width: 1870px;
    position: fixed;
    margin-left: 15px;
    top: 10px; 
    left: 0; 
}

svg{
    color: rgb(196, 202, 211);
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.1s ease-in-out;
}

svg:hover{
transform: translateY(-10px);
color: rgb(128, 128, 128);
}

ul{
    display: flex;
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    margin-left: 480px;
    padding-top: 45px;
    font-size: 20px;
}

li{
    margin-right: 40px;
}

a{
    text-decoration: none;
    color:aliceblue;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

main{
    margin-top: 250px;
}

a:hover{
    transform: translateY(-2px);
    color: black;
}

.aboutgithub {
    background-color: rgb(196, 202, 211);
    padding: 32px;
    border-radius: 8px; 
    max-width: 800px;
    margin: 32px auto;
    text-align: center;
}

.aboutgithub_Z {
    font-size: 32px;
    color: #333;
    margin-bottom: 16px;
}

.aboutgithub_T {
    font-size: 19px;
    color: #6d6c6c;
    line-height: 1.6;
}

.aboutgit {
    background-color: transparent;
    border: 2px solid rgb(92, 108, 131);
    padding: 32px;
    border-radius: 8px; 
    max-width: 800px;
    margin: 32px auto;
    text-align: center;
    margin-top: 200px;
}

.aboutgit_Z {
    font-size: 32px;
    color:aliceblue;
    margin-bottom: 16px;
}

.aboutgit_T {
    font-size: 19px;
    color: rgb(202, 201, 201);
    line-height: 1.6;
}

.differens_Z{
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.differens-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 80px;
    gap: 250px;
}

.differens_git_Z{
    font-size: 32px;
    text-align: center;
    color: aliceblue;
}

.differens_github_Z{
    font-size: 32px;
    text-align: center;
    color: #333;
}

.differens-container_left{
    background-color: transparent;
    border: 2px solid rgb(92, 108, 131);
    padding: 32px;
    border-radius: 8px; 
    text-align: left;
    width: 10000px;
}

.differens-container_right{
    background-color: rgb(196, 202, 211);
    padding: 32px;
    border-radius: 8px; 
    text-align: left;
    width: 10000px;
}

.differens_git_T{
    color: rgb(202, 201, 201);
    font-size: 19px;
}   

.differens_github_T{
    color: #6d6c6c;
    font-size: 19px;
}

.function{
    margin: 0;
    text-align: center;
    margin-top: 280px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: transparent;
    border: 2px solid rgb(92, 108, 131);
    border-radius: 8px; 
    width: 1000px;
    margin-left: 450px;
}

.function_Z{
    font-size: 32px;
    color: aliceblue;
    transition: 0.3s;
}

.function_Z:hover{
    color: rgb(92, 108, 131);
}

.function_T{
    max-height: 0; /* Скрываем текст по умолчанию */
    overflow: hidden; /* Прячет переполнение */
    opacity: 0; /* Начальная прозрачность */
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    color: rgb(202, 201, 201);
    font-size: 19px;
}

.function.show .function_T {
    max-height: 200px; /* Максимальная высота при показе */
    opacity: 1; /* Полная прозрачность */
}